<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleDisplayName</key>
  <string>Zero-Knowledge Vault</string>
  <key>CFBundleExecutable</key>
  <string>$(EXECUTABLE_NAME)</string>
  <key>CFBundleIdentifier</key>
  <string>com.zk-vault.safari-extension</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>ZK Vault</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>LSMinimumSystemVersion</key>
  <string>14.0</string>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
  <key>NSExtension</key>
  <dict>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.Safari.extension</string>
    <key>NSExtensionPrincipalClass</key>
    <string>SafariWebExtensionHandler</string>
  </dict>
  <key>SFSafariContentScript</key>
  <array>
    <dict>
      <key>Script</key>
      <string>content-script.js</string>
      <key>AllowedOrigins</key>
      <array>
        <string>*</string>
      </array>
    </dict>
  </array>
  <key>SFSafariToolbarItem</key>
  <dict>
    <key>Action</key>
    <string>Popover</string>
    <key>Identifier</key>
    <string>Button</string>
    <key>Label</key>
    <string>ZK Vault</string>
  </dict>
  <key>SFSafariWebsiteAccess</key>
  <dict>
    <key>Level</key>
    <string>All</string>
    <key>AllowedDomains</key>
    <array>
      <string>vault.zk.example.com</string>
    </array>
  </dict>
</dict>
</plist>
